<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
	<p><b>Enter your last name here:</b> <input ng-model="x.lastname" type="text"></p>
	<p ng-repeat="x in students | filter : {'lastname' : x.lastname}">{{x.firstname + " " + x.lastname + " -> " + x.score}}</p>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.students = [
        {"firstname" : "Viktoria", "lastname" : "Abalina", "score" : 9},
        {"firstname" : "Antonina", "lastname" : "Babiuc", "score" : 8},
        {"firstname" : "Ivan", "lastname" : "Gariuc", "score" : 9},
        {"firstname" : "Ivanov", "lastname" : "Alexandr", "score" : 8},
        {"firstname" : "Luchianet", "lastname" : "Serghei", "score" : 9}
    ];
});
</script>

</body>
</html>
